# Core Laravel Files
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor

# Environment-specific files
.env
.env.backup
.env.production
phpunit.result.cache

# Application logs and framework files
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*

# IDE and OS specific files (Optional but Recommended)
.idea/
.vscode/
.DS_Store
Thumbs.db
